/* ----------Global style---------- */

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

img {
  display: block;
}

/* ----------Global style End---------- */

/* ----------Header---------- */

.main-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.navigation-studio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}

.navigation-studio:hover,
.navigation-studio:focus {
  color: #404bbf;
}

.address-contacts {
  font-style: normal;
}

.email {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.email:hover {
  color: #404bbf;
}

.email:focus {
  color: #404bbf;
}

.web-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-div {
  display: flex;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-list-contacts {
  display: flex;
  gap: 40px;
}

/* ----------Header End---------- */

/* ----------SECTION 1---------- */

.section-title {
  background-color: #2e2f42;
  padding: 188px 0;
}

.main-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
}

.button-service {
  background-color: #4d5ae5;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
}

.button-service:hover,
.button-service:focus {
  background-color: #404bbf;
}

/* ----------SECTION 1 END---------- */

/* ----------SECTION 2---------- */

.section-about-site {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-about-features {
  display: flex;
  gap: 24px;
}

.list-about-features-li {
  width: calc((100% - 72px) / 4);
}

.info-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.info-par {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ----------SECTION 2 END---------- */

/* ----------SECTION 3---------- */

/* ----------SECTION 3 END---------- */

/* ----------SECTION 4---------- */

/* ----------SECTION 4 END----------*/

/* ----------FOOTER---------- */

/* ----------FOOTER END---------- */

.about-people {
  background-color: #f4f4fd;
}

.team {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.foto {
  background-color: #ffffff;
}

.zag {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.page-footer {
  background-color: #2e2f42;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-second {
  color: #f4f4fd;
}

.main-logos {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
